<div class="row">
<div class="col-3"></div>
<div class="col-6">
    <h2>Login to start shopping</h2>
    <form #f="ngForm" (ngSubmit)="login(f.value)">
        
        <div class="form-group">
            <label for="email">Email</label>
            <input #email="ngModel" ngModel name="email" type="email-address" id="email" class="form-control"  required>
           
              
              <div class="alert alert-danger" *ngIf="email.touched && email.invalid" >
                Email is required
              </div>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input #password="ngModel" ngModel name="password" type="password" id="password"  class="form-control" required>
                
            
            <div class="alert alert-danger" *ngIf="password.touched && password.invalid" >
              Password is required
            </div>
        </div>
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Remember me for a month?</label>
          </div>
      <br>
        <button class="btn btn-primary"    [disabled]="!f.valid"  type="submit">Login</button>
        
        </form> 
        <br>
        <p> New user?  <a routerLink="/signup">Signup</a> to get started</p>

        <div *ngIf="userId==='0' ">Invalid mail or password</div>
</div>
<div class="col-3"></div>

</div>
