<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
      <h2> Welcome to Fresh Mart </h2>
        <form #f="ngForm" (ngSubmit)="signup(f.value)">
            <div class="form-group">
                <label for="uname">Name </label>
                <input #uname="ngModel" ngModel name="uname"  id="uname" type="text" class="form-control" required>
                <div  class="alert alert-danger" *ngIf="uname.touched && uname.invalid" >Name is required</div>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input #email="ngModel" ngModel name="email" type="email-address" id="email" class="form-control"  required>
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                  
                  <div class="alert alert-danger" *ngIf="email.touched && email.invalid" >
                    Email is required
                  </div>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input #password="ngModel" ngModel name="password" type="password" id="password"  class="form-control" required>
                    
                
                <div class="alert alert-danger" *ngIf="password.touched && password.invalid" >
                  Password is required
                </div>
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Accept our terms and conditions</label>
              </div>
          <br>
            <button class="btn btn-primary"    [disabled]="!f.valid"  type="submit">Signup</button>
            
            </form> 
            <br>
        <div>Already registered?  <a routerLink="/login">Login here</a>  </div>
    </div>
    <div class="col-3"></div>
    
</div>
