<div class="row">
  <div class="col-md-6">
    <form #f="ngForm" (ngSubmit)="save(f.value)">
      <div class="form-group">
          <label for="title">Title</label>
          <input #title="ngModel" ngModel name="title"  id="title" type="text" class="form-control" required>
          <div  class="alert alert-danger" *ngIf="title.touched && title.invalid" >Title is required</div>
      </div>
      <div class="form-group">
          <label for="price">Price</label>
          <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"> ₹</span>
              </div>
              <input #price="ngModel" ngModel name="price" type="number" id="price" class="form-control" aria-label="Amount (to the nearest rupee)" required>
              
            </div>
            <div class="alert alert-danger" *ngIf="price.touched && price.invalid" >
              Price is required
            </div>
      </div>
      <div class="form-group">
          <label for="category">Category</label>
          <select #category="ngModel" ngModel name="category" id="category"  class="form-control" required>
              <option value=""></option>
             <option *ngFor="let item of items" [value]="item" >
               {{item}}
              </option>
          </select>
          <div class="alert alert-danger" *ngIf="category.touched && category.invalid" >
            Category selection is required
          </div>
      </div>
      <div class="form-group">
          <label for="imageUrl">Image URL</label>
          <input #imageUrl="ngModel" ngModel name="imageUrl" id="imageUrl" type="text" class="form-control"  required>
          <div class="alert alert-danger" *ngIf="imageUrl.touched && imageUrl.invalid">ImageUrl is required</div>
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <input #description="ngModel" ngModel name="description" id="description" type="text" class="form-control" placeholder="maximum 255 characters long" required>
        <div class="alert alert-danger" *ngIf="description.touched && description.invalid">Please describe the product</div>
    </div>
      <button class="btn btn-primary" type="submit">Save</button>
      
      </form>  
  </div>
  <div class="col-md-6">
    <div class="card" style="width: 30rem;">
      <img   [src]="imageUrl.value" class="card-img-top">
      <div class="card-body">
        <h4 class="card-title">{{title.value}}</h4>
        <p class="card-text"> ₹ {{price.value}} </p>
        <p class="card-text">  {{description.value}} </p>
      </div>
    </div>
  </div>
</div>


