<nav class="navbar navbar-expand-sm bg-light navbar-light">
    <!-- Brand -->
    <div class="container">
    <a class="navbar-brand"  routerLink=""> Fresh mart <img src="assets/img/mystore.png"> </a>
  
      
    <ul class="navbar-nav navbar-brand">
      
      <li class="nav-item">
        <a routerLink="my/orders" class="nav-link">My orders<img src="assets/img/orders.png"></a>
      </li> &nbsp;
      <li class="nav-item ">
        <a class="nav-link" routerLink="/shopping-cart" > Cart <img src="assets/img/carts.png"> 
        <span class="badge badge-warning badge-pill" *ngIf="getQuantity()"> {{getQuantity() }} </span>
        </a>
      </li>
      &nbsp;
      <ng-template #anoyuser>
      <li   class="nav-item ">
        <a class="nav-link" routerLink="/login">Login</a>
      </li>
      </ng-template>
      <!-- Dropdown -->
      <li ngbDropdown *ngIf="isloggedin()  ; else anoyuser" class="nav-item dropdownName ">
        <a  ngbDropdownToggle    class="nav-link dropdown-toggle navbar-brand"  id="navbardrop" data-toggle="dropdown">
          {{uname()}}
        </a>
        <div ngbDropdownMenu class="dropdown-menu ">
        
          <ng-container *ngIf="true">
          <a class="dropdown-item" routerLink="admin/orders">Manage Orders</a>
          <a class="dropdown-item" routerLink="admin/products">Manage products</a>
        </ng-container>
          <a class="dropdown-item" (click)="logout()">Log Out</a>
        </div>
      </li>
    </ul>
  </div>
  </nav>