<h2>Shipping address</h2>

<div class="row">
    <div class="col-6">
        <form #f="ngForm" (ngSubmit)="placeOrder(f.value)">
            <div class="form-group">
              <label for="">Name</label>
              <input #name="ngModel"  ngModel name="name" type="text" class="form-control" required>
              <div class="alert alert-danger" *ngIf="name.touched && name.invalid">
                <div >Name is required.</div>
              </div>
            </div>
            <div class="form-group">
              <label for="address">Address</label>
              <input #address="ngModel"  ngModel name="address" type="text" class="form-control" placeholder="address" required>
              
            </div>
            
            <div class="form-group">
              <label for="">City</label>
              <input #city="ngModel"  ngModel name="city"  type="text" class="form-control" required>
             
            </div>
            <button 
              
              class="btn btn-primary">Place Order</button>
          </form> 
    </div>
    <div class="col-6">
        <div class="card" >
            
            <div class="card-body" *ngIf="myfn()">
              <h5 class="card-title">Order summary</h5>
              <p class="card-text">You have {{getQuantity()}} items in your cart</p>
              <ul class="list-group" *ngFor="let c of cart; index as i" >
<li class="list-group-item">
    {{c.quantity}} x {{ products[i].title}}
    <div class="float-right">
      ₹ {{products[i].price*c.quantity}}
    </div>
</li>


              </ul>
         <div class="float-right"> 
            Total ₹{{calculateTotal()}}
         </div>     
            </div>
          </div>
    </div>
</div> 


