<h1>Shopping cart</h1>
<div class="row col-10" *ngIf="cart">
    <p>You have {{getQuantity()}} items in your shopping cart</p>
   <br> <button class="btn btn-light btn-sm" (click)="clearCart()" >Clear shopping cart</button>

<table class="table" *ngIf="myfn()" >
<thead>
<tr>
<th>Product</th>
<th class="text-center" >Quantity</th>
<th class="text-right">Price</th>
</tr>
</thead>
<tbody>
    <tr *ngFor="let p of products; index as i">
        <td> <img [src]="p.imageUrl" class="thumbnail">  {{p.title}}</td>
        <td class="text-center">{{cart[i].quantity}}</td>
        <td class="text-right"> ₹ {{cart[i].quantity * p.price }}</td>
    </tr>
</tbody>
<tfoot>
    <tr>
        <td></td>
        <td></td>
        <td class="text-right">Total:  ₹{{calculateTotal()}} </td>
    </tr>
</tfoot>
</table>


<button  (click)="checkout()" class="btn btn-primary">Check-out </button>
</div>