<h1>All customers order history</h1>
<table class="table">
  <thead>
    <tr>
      <th>Total cost</th>
      <th>Time of placing order</th>
      <th>Given delivery address</th>
    </tr>
  </thead> 
  <tbody *ngIf="orders">
    <tr *ngFor="let order of orders| async">
      <td> {{ order.totalPrice}} </td>
      <td> {{order.dateOrdered}}</td>
      <td> {{order.address}} </td>
      <td>
        <a routerLink="#">See order </a>
      </td>
    </tr>
  </tbody> 
</table>
