<div><a routerLink="/admin/products/new" class="btn btn-primary">Add new product</a></div>

<div>
<input type="text" #srch 
(keyup)="filter(srch.value)"
placeholder="Search..." class="form-control">   
</div>
<table class="table">
<thead>
<tr>
 <th>Title</th>
 <th>Price</th>
 <th></th>   
</tr>
</thead>
<tbody>
    <tr *ngFor="let p of filterProducts ">
    <td>{{p.title }}</td>
    <td>{{p.price}}</td>
    <td> <a [routerLink]="['/admin/products/', p.productId ]">Edit</a> </td>
    </tr>
</tbody>
</table>



