<div class="container">
<div class="row">
<div class="col-md-7">
  <div class="col-md-6">
    <div class="card mycard" >
      <img   [src]="product.imageUrl" class="card-img-top" >
      <div class="card-body">
        
       
        
      </div>
    </div>
  </div>
</div>
<div class="col-md-5">
<div class="information">
  <h4 class="card-title">{{product.title}}</h4>
  <p class="card-text"> ₹ {{product.price}}  </p>
  <h6 class="card-title">Category: {{product.category}} | Availability : Seasonal</h6>
  <br>
  <button type="button" class="btn btn-secondary btn-block bt2" 
    *ngIf="qua=='0'; else updateQuantity"   (click)="addToCart()" >
  Add to cart . <img src="assets/img/carts.png">
 </button>

   <ng-template #updateQuantity>
<div class="row  no-gutters">
<div class="col-md-4"> <button class="btn btn-secondary" (click)="removeFromCart()">-</button></div>
<div class="col-md-4  bt1"> {{qua}} in cart<img src="assets/img/carts.png"></div>
<div class="col-md-4"><button class="btn btn-secondary" (click)="addToCart()"  >+</button></div>
</div>
   </ng-template>

  <button type="button" class="btn btn-secondary btn-block bt2">Wishlist...<img src="assets/img/wishlist.png"></button>
  
  <p> Product details: {{product.description}} </p>
    <a  class="small"> Track source and ingredients? </a>
</div>
</div>
</div>
</div>