.mycard{
margin: 15px;
padding:5px;
width: 35rem;
min-width: 25rem;
}
.sticky-top{
top:200px;
justify-content: center;
}
.btn{
margin:5px;

}
.btn :hover{
    background-color:#e600e6;
}
.information{
margin: 20px;
background-color:#ffffcc ;
padding: 20px;

}
img[src="assets/img/carts.png"]  {
    width: 25px;
    height: auto;
  }
  img[src="assets/img/wishlist.png"]  {
    width: 25px;
    height: auto;
  }
  a{
    text-decoration: none;  
    cursor:pointer;
  }
  .bt1{
  width: 80%;
  font-size: large;
  }
  .bt2{
width:80%;
font-size: large;
  }