.mycard{
    margin: 15px;
    padding:5px;
    
    }

.mycard:hover,active{

    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 3px 6px 0 rgba(0, 0, 0, 0.19);
 
}    
a:hover{
    text-decoration: none;  
}
    .sticky-top{
    top:200px;
    position: fixed;
    justify-content: center;
    }
    .btn{
    margin:1px;
    padding: 0px;   
    }