<div class="container">
    <div class="row">
      
        
      
    <div class="col-md-3">
      <div class="sticky-top">
        <div class="list-group">
            <a routerLink="/"
            (click)="catnull()" 
             [class.active]="!category"
            class="list-group-item list-group-item-action">
        All categories
        </a>
            <a  *ngFor="let c of categories" 
             class="list-group-item list-group-item-action"
             [class.active]="category===c"
             routerLink="/" [queryParams]="{category:c}"   (click)="filterByCategory()"      
             >{{c}}</a>
        </div>
      </div>
    </div>
    <div class="col-md-9">
        <div>
            <input type="text" #srch 
            (keyup)="filter(srch.value)"
            placeholder="Search..." class="form-control">   
            </div>
    <div class="row">
    <div *ngFor="let p of filteredProducts" class="col-md-4">
      <a [routerLink]="['/product/',p.productId]">
        <div class="card mycard" style="width: 16rem;">
            <img [src]="p.imageUrl" class="card-img-top" alt="oops something went wrong!">
            <div class="card-body">
              <h5 class="card-title">{{p.title}}</h5>
              <p class="card-text"> {{p.price|currency:'₹'}}</p>
            </div>
          </div>
        </a>
    </div>
    
    
    </div>
    </div>
    </div>
    </div>
